.attractions-form {
    margin-bottom: 32px;
    max-width: 720px;

    .attractions-form-inputs {
        display: grid;
        gap: 18px;
        grid-template-columns: 288px 2fr;

        .attractions-form-file-input {
            display: none;
        }

        .attractions-form-image-input-wrapper {
            width: 288px;
            height: 212px;
            border: 2px $gray-100 solid;
            background-color: $white;
            color: $gray-400;
            text-align: center;
            border-radius: 8px;
            padding: 89px 57px;
        }

        .attractions-form-input-wrapper {
            max-width: 415px;

            .attractions-form-title-input {
                width: 326px;
                height: 54px;
                border: 2px $gray-100 solid;
                color: $gray-400;
                border-radius: 8px;
                padding: 15px 15px 15px;
                margin-bottom: 17px;
                margin-top: 4px;
            }
            .attractions-form-description-input {
                width: 415px;
                height: 132px;
                padding: 36px 19px 70px;
                border: 2px $gray-100 solid;
                color: $gray-400;
                border-radius: 8px;
            }
        }
    }

    .attractions-form-button-wrapper {
        display: flex;
        justify-content: flex-end;
        margin-top: 18px;

        .attractions-form-submit-button {
            width: 121px;
            height: 56px;
            border-radius: 8px;
            border: 1px $pink solid;
            background-color: $pink;
            color: $white;
            font-weight: 700;
        }
    }
}
