.attractions-list-title {
    margin: 60px 0;
    font-size: 32px;
    font-family: "Poppins", sans-serif;
}

.attractions-items {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    gap: 24px;

    .attraction-item {
        border-radius: 8px;
        display: grid;
        grid-template-columns: 288px 2fr;
        max-width: 576px;
        max-height: 212px;
        border-radius: 8px;
        box-shadow: 0 8px 8px 0 $gray-100;
        margin-bottom: 16px;

        .displayImage {
            width: 288px;
            height: 212px;
            border-radius: 8px;
        }

        .attractive-item-wrapper {
            padding: 24px;

            .attraction-item-title {
                max-width: 240px;
                max-height: 60px;
                font-size: 24px;
                font-weight: 700;
                color: $gray-700;
                margin-bottom: 24px;
            }

            .attraction-item-description {
                width: 240px;
                height: 96px;
                font-weight: 400;
                font-size: 16px;
                color: $gray-400;
                overflow: auto;
                scroll-behavior: auto;
            }
        }
    }
}
